.my-profile {
background-color: #c28100;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

div.avatar {
  height: 400px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10em;
}

div.name {
  display: flex;
  justify-content: center;
  color: white;
}

.notbold {
  font-weight: normal;
}