.new-tweet {
  width: fit-content;
}


.submit-tweet {
  font-family: 'Bungee', cursive;
  color: white;
  background-color: #4056A1;
}

.counter {
  font-family: 'Bungee', cursive;
  display: inline-flex;
  float: right;
}

.invalid {
  color: red;
}

.tweet-question {
  display: block;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: bold;
}

textarea {
  width: 800px;
  height: 25px;
  border-bottom: 3px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: #f4f1ec;
}